<!DOCTYPE html>
<html lang="en" class="bg-white antialiased">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body class="font-source-sans font-normal text-black leading-normal">
  <%= yield %>
</body>
</html>
